div.section > dl.member {
    margin-left: 20px;
    margin-bottom: 12px !important;
}
div.section > dl.member + p {
    margin-left: 20px;
}

div.section > dl.member code.descclassname {
    display: none;
}

div.section > dl code.descname::before {
    content: " ";
}

