[package]
name = "lucet-spectest"
version = "0.1.0"
description = "Test harness to run WebAssembly spec tests (.wast) against the Lucet toolchain"
repository = "https://github.com/fastly/lucet"
authors = ["Pat Hickey <phickey@fastly.com>"]
license = "Apache-2.0 WITH LLVM-exception"
edition = "2018"

[lib]
crate-type=["rlib"]

[[bin]]
name = "spec-test"
path = "src/main.rs"

[dependencies]
lucetc = { path = "../lucetc" }
lucet-module-data = { path = "../lucet-module-data" }
lucet-runtime = { path = "../lucet-runtime" }
wabt = "0.7"
serde = "1.0"
serde_json = "1.0"
failure = "0.1"
clap="2.32"
tempfile = "3.0"
