[submodule "cranelift"]
	path = cranelift
	url = https://github.com/cranestation/cranelift
[submodule "lucet-spectest/spec"]
	path = lucet-spectest/spec
	url = https://github.com/webassembly/spec
[submodule "sightglass"]
	path = sightglass
	url = https://github.com/fastly/sightglass
[submodule "wasi"]
	path = wasi
	url = https://github.com/webassembly/wasi
