[submodule "cranelift"]
	path = cranelift
	url = https://github.com/cranestation/cranelift
[submodule "faerie"]
	path = faerie
	url = https://github.com/m4b/faerie
[submodule "lucet-spectest/spec"]
	path = lucet-spectest/spec
	url = https://github.com/webassembly/spec
[submodule "sightglass"]
	path = sightglass
	url = https://github.com/fastly/sightglass
