[submodule "cranelift"]
	path = cranelift
	url = https://github.com/cranestation/cranelift
[submodule "faerie"]
	path = faerie
	url = https://github.com/m4b/faerie
[submodule "lucet-libc/src/compiler-rt"]
	path = lucet-libc/src/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt
[submodule "lucet-libc/src/musl"]
	path = lucet-libc/src/musl
	url = git://git.musl-libc.org/musl
[submodule "lucet-spectest/spec"]
	path = lucet-spectest/spec
	url = https://github.com/webassembly/spec
