# Lucet version 0.1.1

[workspace]
members = [
  "lucet-analyze",
  "lucet-idl",
  "lucet-idl/witx-frontend",
  "lucet-idl/lucet-idl-test",
  "lucet-idl/lucet-idl-test/resources/rust_host",
  "lucet-module",
  "lucet-runtime",
  "lucet-runtime/lucet-runtime-internals",
  "lucet-runtime/lucet-runtime-tests",
  "lucet-spectest",
  "lucet-wasi",
  "lucet-wasi-fuzz",
  "lucet-wasi-sdk",
  "lucetc",
  "sightglass",
  "benchmarks/lucet-benchmarks",
]
exclude = ["cranelift"]

[profile.test]
rpath = true
