[package]
name = "lucet-runtime-internals"
version = "0.1.0"
authors = ["Adam C. Foltzer <acfoltzer@fastly.com>"]
edition = "2018"

[dependencies]
lucet-module-data = { path = "../../lucet-module-data" }

bitflags = "1.0"
bincode = "~1.0.1"
cranelift-codegen = { path = "../../cranelift/cranelift-codegen" }
failure = "0.1"
lazy_static = "1.1"
libc = "0.2.47"
libloading = "0.5"
memoffset = "0.2"
nix = "0.13"
num-derive = "0.2"
num-traits = "0.2"
xfailure = "0.1"

[dev-dependencies]
byteorder = "1.2"

[build-dependencies]
cc = "1.0"
