[package]
name = "lucet-runtime"
version = "0.1.0"
authors = ["Adam C. Foltzer <acfoltzer@fastly.com>"]
edition = "2018"

[dependencies]
lucet-runtime-internals = { path = "lucet-runtime-internals" }

[dev-dependencies]
byteorder = "1.2"
failure = "0.1"
lazy_static = "1.1"
libc = "0.2.47"
# default-features = false means it doesn't link against lucet-runtime-c, but instead lets us link
# this runtime instead
lucet-libc = { path = "../lucet-libc-rs", features = ["no-lucet-runtime-c"] }
lucet-runtime-tests = { path = "lucet-runtime-tests" }
nix = "0.13"
