[package]
name = "lucet-runtime"
version = "0.1.0"
description = "Pure Rust runtime for lucet WebAssembly toolchain"
repository = "https://github.com/fastly/lucet"
authors = ["Adam C. Foltzer <acfoltzer@fastly.com>", "Pat Hickey <phickey@fastly.com>", "Frank Denis <fdenis@fastly.com>", "Tyler McMullen <tyler@fastly.com>"]
license = "Apache-2.0 WITH LLVM-exception"
edition = "2018"

[dependencies]
libc = "0.2.48"
lucet-runtime-internals = { path = "lucet-runtime-internals" }

[dev-dependencies]
byteorder = "1.2"
failure = "0.1"
lazy_static = "1.1"
# default-features = false means it doesn't link against lucet-runtime-c, but instead lets us link
# this runtime instead
lucet-libc = { path = "../lucet-libc-rs", features = ["no-lucet-runtime-c"] }
lucet-module-data = { path = "../lucet-module-data" }
lucet-runtime-tests = { path = "lucet-runtime-tests" }
nix = "0.13"

[build-dependencies]
bindgen = "0.47"
cbindgen = "0.8"