[package]
name = "lucet-wasi"
version = "0.6.2-dev"
description = "Fastly's runtime for the WebAssembly System Interface (WASI)"
homepage = "https://github.com/fastly/lucet"
repository = "https://github.com/fastly/lucet"
license = "Apache-2.0 WITH LLVM-exception"
categories = ["wasm"]
authors = ["Lucet team <lucet@fastly.com>"]
edition = "2018"

[dependencies]
anyhow = "1"
cast = "0.2"
clap = "2.23"
human-size = "0.4"
lucet-runtime = { path = "../lucet-runtime", version = "=0.6.2-dev", optional = true }
lucet-runtime-internals = { path = "../lucet-runtime/lucet-runtime-internals", version = "=0.6.2-dev", optional = true }
lucet-module = { path = "../lucet-module", version = "=0.6.2-dev" }
lucet-wasi-generate = { path = "./generate", version = "=0.6.2-dev", optional = true }
lucet-wiggle-generate = { path = "../lucet-wiggle/generate", version = "=0.6.2-dev"  }
lucet-wiggle-runtime = { path = "../lucet-wiggle/runtime", version = "=0.6.2-dev", optional = true }
wiggle = { path = "../wasmtime/crates/wiggle", version = "0.15.0" }
libc = "0.2.65"
nix = "0.17"
rand = "0.6"
wasi-common = { path = "../wasmtime/crates/wasi-common", version = "0.15.0", features = ["wiggle_metadata"] }

[dev-dependencies]
lucet-wasi-sdk = { path = "../lucet-wasi-sdk" }
lucetc = { path = "../lucetc" }
lucet-validate = { path = "../lucet-validate" }
tempfile = "3.0"

[lib]
name = "lucet_wasi"
crate-type = ["rlib", "staticlib", "cdylib"]

[features]
default = ["runtime"]
runtime = ["lucet-runtime", "lucet-runtime-internals", "lucet-wasi-generate", "lucet-wiggle-runtime" ]

[package.metadata.deb]
name = "fst-lucet-wasi"
maintainer = "Adam C. Foltzer <acfoltzer@fastly.com>"
depends = "$auto"
priority = "optional"
assets = [
    ["target/release/liblucet_wasi.a", "/opt/fst-lucet-wasi/lib/", "644"],
    ["target/release/liblucet_wasi.rlib", "/opt/fst-lucet-wasi/lib/", "644"],
    ["target/release/liblucet_wasi.so", "/opt/fst-lucet-wasi/lib/", "755"],
    ["include/*.h", "/opt/fst-lucet-wasi/include/", "644"],
    ["LICENSE", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
    ["LICENSE.wasmtime", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
    ["LICENSE.cloudabi-utils", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
]
