[package]
name = "lucet-wasi"
version = "0.1.0"
authors = ["Adam C. Foltzer <acfoltzer@fastly.com>"]
edition = "2018"
license = "Apache-2.0 WITH LLVM-exception"

[dependencies]
cast = "0.2"
clap = "2.23"
failure = "0.1"
human-size = "0.4"
libc = "0.2"
lucet-runtime = { path = "../lucet-runtime" }
lucet-runtime-internals = { path = "../lucet-runtime/lucet-runtime-internals" }
lucetc = { path = "../lucetc" }
nix = "0.13"
rand = "0.6"

[dev-dependencies]
lucet-wasi-sdk = { path = "../lucet-wasi-sdk" }
tempfile = "3.0"

[build-dependencies]
bindgen = "0.47"

[lib]
name = "lucet_wasi"
crate-type = ["rlib", "staticlib", "cdylib"]

[package.metadata.deb]
name = "fst-lucet-wasi"
maintainer = "Adam C. Foltzer <acfoltzer@fastly.com>"
depends = "$auto"
priority = "optional"
assets = [
    ["target/release/liblucet_wasi.a", "/opt/fst-lucet-wasi/lib/", "644"],
    ["target/release/liblucet_wasi.rlib", "/opt/fst-lucet-wasi/lib/", "644"],
    ["target/release/liblucet_wasi.so", "/opt/fst-lucet-wasi/lib/", "755"],
    ["include/*.h", "/opt/fst-lucet-wasi/include/", "644"],
    ["README.md", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
    ["LICENSE", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
    ["LICENSE.wasmtime", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
    ["LICENSE.cloudabi-utils", "/opt/fst-lucet-wasi/share/doc/lucet-wasi/", "644"],
]
