[package]
name = "lucetc"
version = "0.1.1"
description = "Fastly's WebAssembly to native code compiler"
homepage = "https://github.com/fastly/lucet"
repository = "https://github.com/fastly/lucet"
license = "Apache-2.0 WITH LLVM-exception"
categories = ["wasm"]
authors = ["Lucet team <lucet@fastly.com>"]
edition = "2018"

[lib]
crate-type=["rlib"]

[[bin]]
name = "lucetc"
path = "src/main.rs"

[dependencies]
bincode = "1.1.4"
cranelift-codegen = { path = "../cranelift/cranelift-codegen", version = "0.41.0" }
cranelift-entity = { path = "../cranelift/cranelift-entity", version = "0.41.0" }
cranelift-native = { path = "../cranelift/cranelift-native", version = "0.41.0" }
cranelift-frontend = { path = "../cranelift/cranelift-frontend", version = "0.41.0" }
cranelift-module = { path = "../cranelift/cranelift-module", version = "0.41.0" }
cranelift-faerie = { path = "../cranelift/cranelift-faerie", version = "0.41.0" }
cranelift-wasm = { path = "../cranelift/cranelift-wasm", version = "0.41.0" }
target-lexicon = "0.8.0"
lucet-module = { path = "../lucet-module", version = "0.1.1" }
wasmparser = "0.37.0"
clap="2.32"
log = "0.4"
env_logger = "0.6"
faerie = "0.11.0"
goblin = "0.0.22"
failure = "0.1"
byteorder = "1.2"
wasmonkey = { path = "../lucet-builtins/wasmonkey", version = "0.1.7" }
wabt = "0.7"
tempfile = "3.0"
bimap = "0.2"
human-size = "0.4"
parity-wasm = "0.38"
minisign = "0.5.11"
memoffset = "0.5.1"

[features]
signature_checking = ["lucet-module/signature_checking"]
