[package]
name = "lucetc"
version = "0.1.0"
authors = ["Pat Hickey <phickey@fastly.com>"]
repository = "https://github.com/fastly/lucet"
license = "Apache-2.0 WITH LLVM-exception"
edition = "2018"

build = "build.rs"

[lib]
crate-type=["rlib"]

[[bin]]
name = "lucetc"
path = "src/main.rs"

[dependencies]
clap="2.32"
log = "0.4"
env_logger = "0.6"
parity-wasm = "0.35"
cranelift-codegen = { path = "../cranelift/lib/codegen" }
cranelift-native = { path = "../cranelift/lib/native" }
cranelift-frontend = { path = "../cranelift/lib/frontend" }
cranelift-module = { path = "../cranelift/lib/module" }
cranelift-faerie = { path = "../cranelift/lib/faerie" }
target-lexicon = "0.2"
faerie = "0.7"
failure = "0.1"
serde = "1.0"
serde_json = "1.0"
byteorder = "1.2"
wasmonkey = { path = "../builtins/wasmonkey" }
wabt = "0.7"
tempdir = "0.3"
bimap = "0.1"
pwasm-validation = { path = "../pwasm-validation" }
human-size = "0.4"
