name: Mac OS CI
on: [push, pull_request]

jobs:
  test:
    name: Test (MacOS)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Install Rust (macos)
      run: |
        curl https://sh.rustup.rs | sh -s -- --default-toolchain 1.44.1 -y
        rustup update
        echo "##[add-path]$HOME/.cargo/bin"

    - name: Install wasi-sdk (macos)
      run: |
        curl -sS -L -O https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-11/wasi-sdk-11.0-macos.tar.gz
        tar xf wasi-sdk-11.0-macos.tar.gz
        sudo mkdir -p /opt/wasi-sdk
        sudo mv wasi-sdk-11.0/* /opt/wasi-sdk/

    - name: Test Lucet
      run: make test-ci

    - name: Ensure testing did not change sources
      run: git diff --exit-code
