name: CI
on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install Rust (rustup)
      run: rustup update

    - name: Install dependencies
      run: >
        curl -sSLO https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/wasi-sdk_12.0_amd64.deb &&
        sudo dpkg -i wasi-sdk_12.0_amd64.deb &&
        cargo install --debug rsign2

    - run: make test-ci

    - name: Ensure testing did not change sources
      run: git diff --exit-code

  smoke_test_benchmarks:
    name: Smoke-test benchmarks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install Rust (rustup)
      run: rustup update

    - name: Install dependencies
      run: >
        curl -sSLO https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/wasi-sdk_12.0_amd64.deb &&
        sudo dpkg -i wasi-sdk_12.0_amd64.deb &&
        export BINARYEN_VERSION=86 &&
        curl -sS -L "https://github.com/WebAssembly/binaryen/releases/download/version_${BINARYEN_VERSION}/binaryen-version_${BINARYEN_VERSION}-x86_64-linux.tar.gz" | tar xzf - &&
        echo "$PWD/binaryen-version_${BINARYEN_VERSION}/bin" >> $GITHUB_PATH

    - run: make test-benchmarks

    - name: Ensure testing did not change sources
      run: git diff --exit-code

  smoke_test_fuzz:
    name: Smoke-test fuzz
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install Rust (rustup)
      run: rustup update

    - name: Install dependencies
      run: >
        curl -sSLO https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/wasi-sdk_12.0_amd64.deb &&
        sudo dpkg -i wasi-sdk_12.0_amd64.deb &&
        export BINARYEN_VERSION=86 &&
        curl -sS -L "https://github.com/WebAssembly/binaryen/releases/download/version_${BINARYEN_VERSION}/binaryen-version_${BINARYEN_VERSION}-x86_64-linux.tar.gz" | tar xzf - &&
        echo "$PWD/binaryen-version_${BINARYEN_VERSION}/bin" >> $GITHUB_PATH

    - run: make test-fuzz

    - name: Ensure testing did not change sources
      run: git diff --exit-code

  test_release:
    name: Test Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install Rust (rustup)
      run: rustup update

    - name: Install dependencies
      run: >
        curl -sSLO https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-12/wasi-sdk_12.0_amd64.deb &&
        sudo dpkg -i wasi-sdk_12.0_amd64.deb &&
        cargo install --debug rsign2

    - run: make test-release

    - name: Ensure testing did not change sources
      run: git diff --exit-code

  test_release_executables:
    name: Test Release Executables
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'

    - name: Install Rust (rustup)
      run: rustup update

    - run: make test-release-executables

    - name: Ensure testing did not change sources
      run: git diff --exit-code

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'
    - name: Install Rust (rustup)
      run: |
        rustup update
        rustup component add rustfmt
    - run: make indent-check

  audit:
    name: Cargo audit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'
    - name: Install Rust (rustup)
      run: rustup update
    - run: cargo install cargo-audit
    - run: cargo audit

  docs:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: 'recursive'
    - name: Install Rust (rustup)
      run: |
        rustup update
        rustup component add rustfmt
    - run: cargo install mdbook
    - run: mdbook build docs
